langchain
langchain-groq
langchain-core
langchain-community
python-dotenv
streamlit
groq
langsmith
fpdf2
python-docx
pypdf
ddgs
langgraph
chromadb
sentence-transformers
docx2txt
flask
flask-login
flask-sqlalchemy
flask-wtf
email-validator
